.container {
  border: 3px solid tomato;
  margin: 20px auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 200px 1fr 200px;
  
  gap: 10px;

}

.item {
  background: rgb(82, 143, 255);
}
.item-1, .item-5 {

  grid-column: 1 / 4;

  /* grid-column-start: 1;
  grid-column-end: 4; */
}


/*
.item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item-3 {
  grid-row-start: 2;
  grid-row-end: 5;
} */
