@import url(https://fonts.google.com/specimen/Cutive+Mono?category=Monospace);

* {
    font-family: "cutive-mono";
    text-decoration: none;
}

.container {
    height: 100vh;
    background: #f0edfe;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.container .box{
    background: rgb(65, 0, 65);
    align-items: center;
    justify-content: center;
}

button {
    color: red;
}

