@import url(https://fonts.google.com/specimen/Cutive+Mono?category=Monospace);

* {
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color: whitesmoke;
}

.container {
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/763110.jpg);
    background-size: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

.container .box{
    background: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}
.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5px;
    background: none;
}
.form input{
    background: transparent;
    border: none;
}

.botao button {
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color:blue;
    color: white;
    margin: 20px;
}

.botao :hover {
        background-color: rgb(255, 0, 191);
    color: rgb(255, 255, 255);
}

.container .box input{
    padding: 10px;
    width: 250px;
    height: 20px;
}
