@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');


* {
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #9733FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login {
  background: #fff;
  width: 450px;
  height: 450px;
  box-shadow: 10px 10px 50px 10px rgb(132, 34, 185);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input {
  box-shadow: 3px 3px 10px 5px rgba(41, 11, 56, 0.417);
  width: 350px;
  height: 45px;
  border-radius: 15px;
  margin: 20px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.input input {
  width: 270px;
  height: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  margin-left: 5px;
}

i {
  font-size: 30px;
  color:rgb(118, 12, 175);
}


.remember {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.remember > div {
  display: flex;
  gap: 5px;
}

h3 {
  color: #999;
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}


button {
  width: 200px;
  height: 40px;
  margin: 30px;
  border-radius: 20px;
  background: linear-gradient(60deg, #8A2BE5, #3C00F3);
  box-shadow: 5px 5px 10px #00000082;
  border: 0;
  color: #fff;
  cursor: pointer;
}

button:hover {
  filter: brightness(140%);
}



.error {
  border: 2px solid tomato;
  margin-top: 5px;
  width: 280px;
  height: 40px;
  background: rgb(255, 182, 182);
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* font-weight: 600; */
}
.success {
  border: 2px solid rgb(68, 255, 0);
  margin-top: 5px;
  width: 280px;
  height: 40px;
  background: rgb(182, 255, 185);
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* font-weight: 600; */
}

.error i {
  margin-right: 5px;
}
